#parentSection{
    width: 60%;
    height: 90%;
    /* min-height: 100vh; */
    /* max-height: 500vh; */
    margin-left: 40px;
    background-color: white;
}
#shipingDetials{
    position: relative;
    top: 30px;
}
#shipingDetialsBillTo{
    text-align: left;
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    left: 20px;
}
#shipingDetialsBillTo input{
    border: 0;
}

#shipingDetialsBilTxtfield{
    border: 0;
    border-radius: 10px;
    height: 30px;
    width: 95%;
    margin-top: 10px;
    float: right;
    background-color: #f4f3f8;
}

#shipingDetialsBilTxtfield2{
    border: 0;
    border-radius: 10px;
    height: 30px;
    width: 95%;
    margin-top: 10px;
    float: right;
    background-color: #f4f3f8;
}
#shipingDetialsshipTo{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 0px;

    width: 45%;
    float: right;
    text-align: left;
}
#shipingDetialsshipTo input{
    border: 0;
}