#parent{
    display: flex;
    flex-direction: row;
    background-color: #f4f3f8;
    height: auto;
    width: 100%;
}
#leftsideDiv{
    width: 70%;
}
#rightSideDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    
}
#currency{
    display: flex;
    flex-direction: row ;
    margin-bottom: 20px;
}
#currency input{
    border: 0;
    position: relative;
    width: "10px"; 
    margin-right: 0;
    text-align: right;
    height: 40px;
    font-weight: bold;
    font-size: medium;
    background-color: #f4f3f8;
}